h1= t(:other, scope: [:activerecord, :models, :main_food_group]) 
table.table
  tr
  - @main_food_groups.each do |main_food_group|
    tr
      td= main_food_group.name
br/
= link_to '<<<', root_path
