h1= t(:other, scope: [:activerecord, :models, :food_group])
table.table
  tr
    th= t(:name, scope: [:activerecord, :attributes, :food_group])
    th= t(:calories, scope: [:activerecord, :attributes, :food_group])
    th= t(:carbs, scope: [:activerecord, :attributes, :food_group])
    th= t(:fat, scope: [:activerecord, :attributes, :food_group])
    th= t(:protein, scope: [:activerecord, :attributes, :food_group])
  - @food_groups.each do |food_group|
    tr
      td= food_group.name
      td= food_group.calories
      td= food_group.carbs
      td= food_group.fat
      td= food_group.protein
br/
= link_to '<<<', root_path
