h1= @food_group.name
table.table
  tr
    th= t(:name, scope: [:activerecord, :attributes, :food_group])
    th= t(:calories, scope: [:activerecord, :attributes, :food_group])
    th= t(:carbs, scope: [:activerecord, :attributes, :food_group])
    th= t(:fat, scope: [:activerecord, :attributes, :food_group])
    th= t(:protein, scope: [:activerecord, :attributes, :food_group])
  tr
    td= link_to @food_group.name, food_group_path(@food_group)
    td= @food_group.calories
    td= @food_group.carbs
    td= @food_group.fat
    td= @food_group.protein
br/
= link_to '<<<', foods_path
