- if user_signed_in?
  - if current_user.has_role? :admin
    = link_to "Admin", admin_root_path
  br/
  br/
  - if current_user.diet_lists.any?
    = render current_user.diet_lists.first
    
br/
= link_to t(:other, scope: [:activerecord, :models, :main_food_group]), main_food_groups_path
br/
= link_to t(:other, scope: [:activerecord, :models, :food_group]), food_groups_path
br/
= link_to t(:other, scope: [:activerecord, :models, :food]), foods_path
- if user_signed_in?
  br/
  = link_to t(:other, scope: [:activerecord, :models, :log]), logs_with_date_path(Date.today)
