h3= diet_list.name
table.table
  tr
    th= t(:main_food_group, scope: [:activerecord, :attributes, :diet_list])
    th= t(:amount, scope: [:activerecord, :attributes, :diet_list])
    th
    th
    th
  - diet_list.diet_items.each do |diet_item|
    tr
      = render diet_item
  - if diet_list.id
    tr
      = render template: 'restful/actions', locals: { resource: diet_list }
- if current_user and current_user.has_role? :dietitian_of, @user and diet_list.id
  td= link_to t(:assign, scope: :actions), assign_diet_list_path(@user, diet_list)
