= semantic_form_for @food_log do |f|
  = f.input :food, collection: Food.all
  = f.input :meal, as: :select, collection: FoodLog.meal.values.map{|m| [m.text, m]}
  = f.input :weight
  = f.input :date
  = f.submit
