table.table
  tr
    th= t(:food, scope: [:activerecord, :attributes, :food_log])
    th= t(:meal, scope: [:activerecord, :attributes, :food_log])
    th= t(:weight, scope: [:activerecord, :attributes, :food_log])
    th= t(:date, scope: [:activerecord, :attributes, :food_log])
    th
  - food_logs.each do |food_log|
    tr
      = render food_log