p
  b Kullanıcı:
  = @food_log.user.email
p
  b Besin:
  = @food_log.food.name
p
  b Öğün:
  = @food_log.meal.text
p
  b Miktar:
  = @food_log.weight
p
  b Tarih:
  = @food_log.date

= render template: 'restful/actions', locals: { resource: @food_log }

= link_to '<<', logs_path
