h1= t(:other, scope: [:activerecord, :models, :food])
= form_tag foods_path, :method => 'get' do
  p
    = text_field_tag :search, params[:search]
    = submit_tag t(:search, scope: :actions), :name => nil
br/
= paginate @foods
br/
table.table
  tr
    th= t(:name, scope: [:activerecord, :attributes, :food])
    th= t(:weight, scope: [:activerecord, :attributes, :food])
    th= t(:food_group, scope: [:activerecord, :attributes, :food])
    th
  - @foods.each do |food|
    tr
      td= link_to food.name, food_path(food)
      td= food.weight
      td= food.food_group.name
      - if can? :add_log, food
        td= link_to t(:add_log, scope: :actions), add_food_log_path(food)
br/
= link_to '<<<', root_path
