h1= @food.name
table.table
  tr
    th= t(:weight, scope: [:activerecord, :attributes, :food])
    th= t(:food_group, scope: [:activerecord, :attributes, :food])
    th
  tr
    td= @food.weight
    td= link_to @food.food_group.name
    - if can? :eat, @food
      td= link_to t(:add_log, scope: :actions), add_food_log_path(@food)
br/
= link_to '<<', foods_path
