- if can?(:manage, resource) || can?(:manage, resource[1])
  td=> link_to t(:edit, scope: :actions), edit_polymorphic_path(resource)
  td=> link_to t(:destroy, scope: :actions), 
  	resource, method: :delete, data: { confirm: t(:are_you_sure, scope: :confirmations) }