h1= @diet_list.name
table.table
  tr
    th= t(:main_food_group, scope: [:activerecord, :attributes, :diet_list])
    th= t(:amount, scope: [:activerecord, :attributes, :diet_list])
    th
    th
    th
  - @diet_items.each do |diet_item|
    tr
      = render diet_item
      = render template: 'restful/actions', locals: { resource: [@diet_list, diet_item] }

br/
= render template: 'restful/new', locals: { resource: @diet_list }
br/ 
=< link_to '<<<', root_path
