| Diyetisyen sayfamiza hoş geldiniz

br/ 
br/


br/
= link_to 'Hazır Diyet Listelerim', diet_lists_path
br/
= link_to 'Kullanıcılar', dietitian_user_path
br/
= link_to 'Kullanıcı ekle', new_dietitian_user_path

br/
br/
br/
= link_to t(:other, scope: [:activerecord, :models, :main_food_group]), main_food_groups_path
br/
= link_to t(:other, scope: [:activerecord, :models, :food_group]), food_groups_path
br/
= link_to t(:other, scope: [:activerecord, :models, :food]), foods_path