@import "bootstrap/variables";

@mixin blue-green-links {
  a {
    color: $blue;
    &:hover {
      color: $green;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

body {
  @include blue-green-links;
}

/* header */
header > .navbar-inner > .container {
      @include blue-green-links;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayLight;
  color: $grayLight;
  @include blue-green-links;
  small {
    p {
      float: left;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}