h1 
  => link_to '<--', user_logs_with_date_path(@user, @log.date.to_date - 1.day)
  = @log.date + 'tarihli girdiler'
  - if @log.date.to_date < Date.today
  	=< link_to '-->', user_logs_with_date_path(@user, @log.date.to_date + 1.day)
= render partial: 'diet_lists/diet_list', locals: { diet_list: @log.diet_list_log }

br/
br/

= render template: 'food_logs/index', locals: { food_logs: @log.food_logs }

br/
= link_to t(:other, scope: [:activerecord, :models, :food]), foods_path
br/
= link_to '<<<', root_path