- if user_signed_in?
  li= link_to current_user.email, edit_user_registration_path
  li= link_to 'Çıkış', destroy_user_session_path, method: :delete
- else
  li= link_to 'Giriş', new_user_session_path
  li= link_to 'Kayıt', new_user_registration_path