doctype html
html
  head
    title Diyetisyen
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/shim'
  body
    = render 'layouts/header'
    .container
      = render 'layouts/flash'
      .hero = yield
      = render 'layouts/footer'
